/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html,
body {
    font-family: Roboto;
    height: 100%;
    width: 100%;
}

/*nav*/
nav{
    box-shadow: none;
    box-shadow: 0 0 1px rgba(0, 65, 94, 0.3);
}

nav ul a,
nav .brand-logo {
    color: #78909c;
}
nav ul a:hover {
    color: white;
  background-color: #9575cd;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #9575cd;
}

#tunggu{
    height: 100%;
}


/*sosmed*/

.social-wrapper{
    display: inline;
    padding: 4px;
    font-size: 40px;
}

.sosial{
    display: block;
    margin-bottom: 20px;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}


.parallax-container .section {
    width: 100%;
}


.parallax img{
    width: 300%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

#time{
    background-color: #F3F0DD;
}


#home {
    height: 100%;
    background-image: url(bumi13.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 200%;
}

#tema {
    background-image: url(awan7.png);
    background-repeat: no-repeat;
    background-position: -5px 105%;
    background-size: 150%;
    height: 100%;
   
}

#about{
    padding-top: 60px;
    background-color: #F3F0DD;
  
}

.about2{
    margin-bottom: 0;
    padding-bottom: 20px;
}

p {
    font-size: 1.1rem;
    font-weight: 300;
}

#timeline{
    height: 100%;
    padding-top: 60px;
}
#galeri{
   background-color: #2D1646;
    background-size: 100%;

        color: white;
}

.judul{
    margin-top: 0;
    padding-top: 40px;
}

img.logo {
    padding-top: 20%;
    width: 50%;
    margin: auto;
    display: block;
}
img.maskot{
    width: 20%;
    margin: auto;
    display: block;
}

img.bumi {
    width: 100%;
}

parallax.img{
    width: 100%;
}


.parallax-container {
    background-color: rgba(0, 0, 0, 0.4);
}

#sponsor{
    background-color: #F3F0DD;
    height: 50%;
}

.carousel .carousel-item {
  width: 300px;
  height: 200px;
}

@media screen and (min-width: 800px) {
    #tema {
        background-position: -5px 110%;
        background-size: 100%;
    }
    img.logo {
        padding-top: 10%;
        width: 40%;
    }
    #home {
        background-size: 100%;
    }

    .parallax img{
        width: 100%;
    }
    .carousel .carousel-item {
          width: 400px;
          height: 200px;
    }
}



/*TIMELINE*/


.timeline {
  white-space: nowrap;
  overflow-x: auto;
}
 
.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 250px 0;
  transition: all 1s;
}
 
.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: #fff;
}
 
.timeline ol li:last-child {
  width: 280px;
}
 
.timeline ol li:not(:first-child) {
  margin-left: 14px;
}
 
.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #9575cd;
}

.timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: black;
  background: white;
}
 
.timeline ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}
 
.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}
 
.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}


/*PENDAFTARAN*/
.daftar{
    background-image: url(astrono.jpg);
    background-position: right;
    background-repeat: no-repeat;
}
@media screen and (max-width: 900px) {
    .daftar{
        background-image: none;
    }
}


